@namespace Skclusive.Material.Button
@inherits ButtonComponent

<ButtonBase
    RootRef="@RootRef"
    ChildRef="@ChildRef"
    Class="@_Class"
    Style="@_Style"
    Href="@Href"
    Component="@Component"
    Type="@Type"
    Disabled="@Disabled"
    DisableRipple="@DisableRipple"
    FocusRipple="@(!DisableFocusRipple)"
    FocusVisibleClass="@_FocusVisibleClass"
    OnFocus="@HandleFocus"
    OnBlur="@HandleBlurAsync"
    OnKeyDown="@HandleKeyDownAsync"
    OnKeyUp="@HandleKeyUp"
    OnMouseDown="@HandleMouseDownAsync"
    OnMouseUp="@HandleMouseUpAsync"
    OnMouseLeave="@HandleMouseLeaveAsync"
    OnTouchStart="@HandleTouchStartAsync"
    OnTouchMove="@HandleTouchMoveAsync"
    OnTouchEnd="@HandleTouchEndAsync"
    OnClick="@HandleClick"
    @attributes="Attributes">
    <span
        style="@_LabelStyle"
        class="@_LabelClass">
        @if (StartIcon != null)
        {
            <span
                style="@_StartIconStyle"
                class="@_StartIconClass">
                @StartIcon
            </span>
        }
        @ChildContent(context)
        @if (EndIcon != null)
        {
            <span
                style="@_EndIconStyle"
                class="@_EndIconClass">
                @EndIcon
            </span>
        }
    </span>
</ButtonBase>