@namespace Skclusive.Material.Drawer
@inherits DrawerComponent

@if (Variant == DrawerVariant.Permanent)
{
    <div
        class="@_Class"
        style="@_Style"
        @ref="RootRef.Current"
        @attributes="Attributes">
        <Paper
            Elevation="@_Elevation"
            Square
            Class="@_PaperClass"
            Style="@_PaperStyle">
            @ChildContent
        </Paper>
    </div>
}
else if (Variant == DrawerVariant.Persistent)
{
    <div
        class="@_Class"
        style="@_Style"
        @ref="RootRef.Current"
        @attributes="Attributes">
        <Slide
            Placement="@Placement"
            In="@Open"
            TransitionDuration="@TransitionDuration"
            AppearTimeout="@AppearTimeout"
            EnterTimeout="@EnterTimeout"
            ExitTimeout="@ExitTimeout"
            Appear="@Mounted">
            <Paper
                RootRef="context.RefBack"
                Elevation="@_Elevation"
                Square
                Class="@_PaperClass"
                Style="@(CssUtil.ToStyle(context.Styles, _PaperStyle))">
                @ChildContent
            </Paper>
        </Slide>
    </div>
}
else
{
    <Modal
        Absolute="@Absolute"
        Class="@_Class"
        Style="@_Style"
        RootRef="@RootRef"
        Open="@Open"
        PortalTargetRef="@ContainerRef"
        BackdropClass="@_BackdropClass"
        BackdropStyle="@_BackdropStyle"
        OnClose="@HandleClose"
        @attributes="Attributes">
        <BackdropContent
            Context="ModalContext">
            <Backdrop
                Class="@ModalContext.BackdropClass"
                Style="@ModalContext.BackdropStyle"
                Open="@ModalContext.Open"
                OnClick="@ModalContext.OnBackdropClick"/>
        </BackdropContent>
        <ChildContent
            Context="ModalContext">
            <Slide
                RootRef="@ModalContext.RefBack"
                Placement="@Placement"
                In="@ModalContext.Open"
                TransitionDuration="@TransitionDuration"
                AppearTimeout="@AppearTimeout"
                EnterTimeout="@EnterTimeout"
                ExitTimeout="@ExitTimeout"
                Appear="@Mounted"
                OnEnter="@ModalContext.OnEnter"
                OnExited="@ModalContext.OnExited"
                Context="SlideContext">
                <Paper
                    RootRef="SlideContext.RefBack"
                    Elevation="@_Elevation"
                    Square
                    Class="@_PaperClass"
                    Style="@(CssUtil.ToStyle(SlideContext.Styles, _PaperStyle))">
                    @ChildContent
                </Paper>
            </Slide>
        </ChildContent>
    </Modal>
}
