@namespace Skclusive.Material.Tab
@inherits TabComponent

<ButtonBase
    RootRef="@RootRef"
    Class="@_Class"
    Style="@_Style"
    Role="tab"
    DisableRipple="@DisableRipple"
    DisableFocusRipple="@DisableFocusRipple"
    aria-selected="@Selected"
    Disabled="@Disabled"
    OnClick="@HandleClickAsync"
    Id="@_Id"
    aria-controls="@_Control"
    @attributes="Attributes">
    <span
        class="@_WrapperClass"
        style="@_WrapperStyle">
        @IconContent
        @if (@LabelContent != null)
        {
            @LabelContent
        } else
        {
            @Label
        }
    </span>
    @Indicator
</ButtonBase>
