@namespace Skclusive.Material.Progress
@inherits LinearProgressComponent

<div
    @ref="RootRef.Current"
    role="progressbar"
    class="@_Class"
    style="@_Style"
    aria-valuenow="@(ValueNow?.ToString())"
    @attributes="Attributes">
    @if (Variant == LinearProgressVariant.Buffer)
    {
        <div
            class="@_DashedClass"
            style="@_DashedStyle" />
    }
    <div
        class="@_Bar1Class"
        style="@_Bar1Style" />
    @if (Variant != LinearProgressVariant.Determinate)
    {
        <div
            class="@_Bar2Class"
            style="@_Bar2Style" />
    }
</div>
