@namespace Skclusive.Material.Icon
@inherits SvgIconComponent

<svg
    class="@_Class"
    style="@_Style"
    focusable="false"
    viewBox="@ViewBox"
    color="@HtmlColor"
    role="@_Role"
    aria-hidden="@Hidden"
    @attributes="Attributes">
    @if (!Hidden)
    {
        <title>@Title</title>
    }
    @ChildContent
</svg>