@namespace Skclusive.Material.Modal
@inherits ModalComponent

<Portal
    DisablePortal="@DisablePortal"
    TargetRef="@PortalTargetRef"
    TargetBodyRef="@PortalTargetBodyRef"
    Context="PortalContext">
    <div
        data-mui-test="Modal"
        class="@_Class"
        style="@_Style"
        @ref="@(new DelegateReference("ModalDelegateRef", RootRef, PortalContext.RefBack).Current)"
        @onkeydown="@HandleKeyDownAsync"
        @onkeydown:stopPropagation
        role="presentation">
        @if (!HideBackdrop)
        {
            @BackdropContent?.Invoke(ModalContext)
        }
        <TrapFocus
            DisableEnforceFocus="@DisableEnforceFocus"
            DisableAutoFocus="@DisableAutoFocus"
            DisableRestoreFocus="@DisableRestoreFocus"
            IsEnabled="@IsTopModal"
            Open="@Open">
            @ChildContent(GetModalContext(context))
        </TrapFocus>
    </div>
</Portal>