@namespace Skclusive.Material.Progress
@inherits CircularProgressComponent

<div
    @ref="RootRef.Current"
    role="progressbar"
    class="@_Class"
    style="@_Style"
    aria-valuenow="@ValueNow"
    @attributes="Attributes">
    <svg
        class="@_SvgClass"
        style="@_SvgStyle"
        viewBox="@ViewBox">
        <circle
            class="@_CircleClass"
            style="@_CircleStyle"
            cx="@Cx"
            cy="@Cy"
            r="@Radius"
            fill="none"
            stroke-width="@Thickness"/>
    </svg>
</div>
