@namespace Skclusive.Material.Button
@inherits IconButtonComponent

<ButtonBase
    RootRef="@RootRef"
    ChildRef="@ChildRef"
    Class="@_Class"
    Style="@_Style"
    Component="@Component"
    Href="@Href"
    CenterRipple
    FocusRipple="@(!DisableRipple)"
    DisableRipple="@DisableRipple"
    Disabled="@Disabled"
    OnFocus="@HandleFocus"
    OnBlur="@HandleBlurAsync"
    OnKeyDown="@HandleKeyDownAsync"
    OnKeyUp="@HandleKeyUp"
    OnMouseDown="@HandleMouseDownAsync"
    OnMouseUp="@HandleMouseUpAsync"
    OnMouseLeave="@HandleMouseLeaveAsync"
    OnTouchStart="@HandleTouchStartAsync"
    OnTouchMove="@HandleTouchMoveAsync"
    OnTouchEnd="@HandleTouchEndAsync"
    OnClick="@HandleClick"
    @attributes="Attributes">
    <span
        style="@_LabelStyle"
        class="@_LabelClass">
        @ChildContent(context)
    </span>
</ButtonBase>