@namespace Skclusive.Material.Form
@inherits FormLabelComponent

<Component
    RootRef="@RootRef"
    Tag="@Component"
    Class="@_Class"
    Style="@_Style"
    for="@For"
    @attributes="Attributes">
    @ChildContent
    @if (_Required.HasValue && _Required.Value)
    {
        <span
            class="@_RequiredClass">
            &thinsp;*
        </span>
    }
</Component>
