@namespace Skclusive.Material.Tooltip
@inherits MaterialComponent

@if (!KeepMounted && !Open && (!Transition || TransitionExited()))
{

}
else
{
    <Portal DisablePortal="@DisablePortal" TargetRef="@Container" Context="PortalContext">
        <div
            class="@_Class"
            style="@_Style"
            @ref="@(new DelegateReference("PopperDelegateRef", RootRef, PortalContext.RefBack).Current)"
            @attributes="Attributes">
            @ChildContent
        </div>
    </Portal>
}
