@namespace Skclusive.Material.Dialog
@inherits MaterialComponent

<Modal
    Absolute="@Absolute"
    Open="@Open"
    Class="@_Class"
    Style="@_Style"
    BackdropClass="@_BackdropClass"
    BackdropStyle="@_BackdropStyle"
    RootRef="@RootRef"
    PortalTargetRef="@ContainerRef"
    OnClose="@HandleClose"
    DisableBackdropClick="@DisableBackdropClick"
    DisableEscapeKeyDown="@DisableEscapeKeyDown"
    OnEscapeKeyDown="@HandleEscapeKeyDown"
    BackdropInvisible="@BackdropInvisible"
    @attributes="Attributes">
    <BackdropContent
        Context="ModalContext">
        <Backdrop
            Class="@ModalContext.BackdropClass"
            Style="@ModalContext.BackdropStyle"
            Open="@ModalContext.Open"
            OnClick="@ModalContext.OnBackdropClick"
            Invisible="@ModalContext.BackdropInvisible" />
    </BackdropContent>
    <ChildContent
        Context="ModalContext">
        <Fade
            RootRef="@ModalContext.RefBack"
            CloseAfterTransition
            Appear
            In="@ModalContext.Open"
            TransitionDuration="@TransitionDuration"
            AppearTimeout="@AppearTimeout"
            EnterTimeout="@EnterTimeout"
            ExitTimeout="@ExitTimeout"
            OnEnter="@(CreateOnEnter(@ModalContext.OnEnter))"
            OnExited="@(CreateOnExited(@ModalContext.OnExited))"
            OnEntering="@HandleEnteringAsync"
            OnEntered="@HandleEnteredAsync"
            OnExit="@HandleExitAsync"
            OnExiting="@HandleExitingAsync"
            role="none presentation"
            Context="FadeContext">
            <div
                data-mui-test="FakeBackdrop"
                @ref="FadeContext.RefBack.Current"
                @onclick="@ModalContext.OnBackdropClick"
                class="@_ContainerClass"
                style="@(CssUtil.ToStyle(FadeContext.Styles, _ContainerStyle))">
                <Paper
                    Elevation="@Elevation"
                    role="dialog"
                    Square="@Square"
                    Class="@_PaperClass"
                    Style="@_PaperStyle"
                    @onclick:stopPropagation>
                    @ChildContent
                </Paper>
            </div>
        </Fade>
    </ChildContent>
</Modal>

