@namespace Skclusive.Material.Input
@inherits NotchedOutlineComponent

<fieldset
    aria-hidden
    @ref="@RootRef.Current"
    Class="@_Class"
    Style="@_Style"
    @attributes="Attributes">
    <legend
        Class="@_LegendClass"
        Style="@_LegendStyle">
        <span>
            &#8203;
        </span>
    </legend>
</fieldset>
